<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xeris.zinj"
    android:versionCode="2"
    android:versionName="2" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>

    <application
        android:allowBackup="true"

        android:icon="@drawable/zlogo"
        android:label="Zinj"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.xeris.zinj.ui.AccountActivity"
            android:icon="@drawable/arrow_left"
            android:windowSoftInputMode="stateAlwaysVisible" >
        </activity>
        <activity
            android:name="com.xeris.zinj.ui.CategoryActivity"
            android:icon="@drawable/arrow_left"
            android:windowSoftInputMode="stateAlwaysVisible" >
        </activity>
        <activity
            android:name="com.xeris.zinj.ui.TransactionActivity"
            android:icon="@drawable/arrow_left"
            android:windowSoftInputMode="stateAlwaysVisible" >
        </activity>
        <activity
            android:name="com.xeris.zinj.ui.TransferActivity"
            android:icon="@drawable/arrow_left"
            android:windowSoftInputMode="stateAlwaysVisible" >
        </activity>

        <activity
            android:name="com.xeris.zinj.ui.PaymentActivity"
            android:icon="@drawable/arrow_left"
            android:windowSoftInputMode="stateAlwaysVisible" >
        </activity>
        <activity
            android:name="com.xeris.zinj.ui.MainActivity"
            android:logo="@drawable/blue_vline">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.xeris.zinj.ui.SettingActivity"
            android:icon="@drawable/arrow_left"
            android:windowSoftInputMode="stateHidden"
            android:label="Setting" >
        </activity>

        <activity android:name="com.xeris.zinj.ui.SearchActivity"
            android:icon="@drawable/arrow_left"
            android:windowSoftInputMode="stateHidden" >
        </activity>

        <activity android:name="com.xeris.zinj.ui.LoginActivity"
           android:logo="@drawable/blue_vline"/>

    </application>

</manifest>